PORT=3001
MONGODB_URI=mongodb://admin:password@localhost:27017/CheckmarkBackend?authSource=admin

JWT_ACCESS_TOKEN_SECRET=<JWT_ACCESS_TOKEN_SECRET>
JWT_REFRESH_TOKEN_SECRET=<JWT_REFRESH_TOKEN_SECRET>
OTP_SECRET=<OTP_SECRET>

# Email configs (optional)
SENDER_NAME=<SENDER_NAME>
SENDER_EMAIL=<SENDER_EMAIL>
BREVO_API_KEY=<BREVO_API_KEY>

FRONTEND_HOST=http://localhost:5173
FRONTEND_LOGIN_URL=<FRONTEND_LOGIN_URL>
BACKEND_URL=<BACKEND_URL>